// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flash {
  color: white;
  padding-top: 10px;
}

.center-block {
    width: 100%;
    border: 1px solid #000;
}
.center-block div   {  
    width: 80%;
    border: 1px solid #FF0000;
    margin: 0 auto;
}
